/* replace with your fonts */

/* general text */
html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/* sidebar name text (not links) */
.sidebar-about h1 {
  font-family: "silks-font";
  font-size: 2em;
}

.lead {
  font-family: "silks-font";
}
